.carousel-img{
    height: 900px;
}

#divDark{
    bottom:1rem;
    left:1rem;
}

.icon-img{
    height: 150px;
    width: 200px;
}

#divCities{
    margin-top:7%;
    text-align: center;
}

.icon{
    height: 14%;
    width: 14%;
    display:inline-block;
}

.temp{
    font-size: 200%;
    display:inline-block;
}

#currentPos{
    text-align: center;
}

.info{
    width: 100%;
    text-align: center;
    padding-left:30%;
    padding-right:25%;
}

.dataweather{
    padding-top: 3%;
}