.carousel-img{
    height: 900px;
}

#divDark{
    bottom:1rem;
    left:1rem;
}

.icon-img{
    height: 150px;
    width: 200px;
}

#divCities{
    margin-top:7%;
    text-align: center;
}

.pIcon{
    margin-top:5%;
}

.icon{
    height: 10%;
    width: 10%;
}

.temp{
    
}

#currentPos{
    text-align: center;
}